<link href="~/Content/PagedList.css" rel="stylesheet" />
@model PagedList.PagedList<FestivalMarket.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;

@*@{
    var newsview = ViewBag.TinMoiNhat as IEnumerable<FestivalMarket.Models.EF.News>;
}*@
<div class="col-12 col-lg-8">
    <div class="list-item-news">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {

                <div class="row item-news-list mt-lg-4" @item.Category.Title>
                    <div class="col-12 col-lg-4 items-news-update">
                        <div class="image-news">
                            <img class="w-100" src="@item.Image" alt="news">
                        </div>
                    </div>
                    <div class="title-news col-12 col-lg-8 ">
                        <h6 class="font-13 color-tim">@item.Category.Alias</h6>
                        <h3 class="font-20 color-red"><a style="text-decoration:none" href="/chi-tiet/@item.Slug-@item.Id">@item.Title</a></h3>
                        <p class="font-13 text-justify ">
                            @Html.Raw(FestivalMarket.Common.Utils.cutStringDescription(item.Description))
                        </p>
                    </div>
                </div>

            }
        }
    </div>
    <div class="news-btn p-lg-4">
        <div class="d-flex justify-content-center">
           @Html.PagedListPager(Model, page =>Url.Action("IndexNew", new { page }))
        </div>
    </div>
</div>

